<div *ngIf="GamePreparation()">
    <mat-card class="Title">
        <div>
            Game Mode: {{gameMode.name}}
        </div>
        <div>
            {{gameMode.description}}
        </div>
    </mat-card>
    <mat-card class="Settings">
        Time Limit:
        <input type="number" name="Time Limit" (ngModel)="gameMode.timeLimit"> Minutes
        <br> ScoreLimit:
        <input type="number" name="Score Limit" (ngModel)="gameMode.scoreLimit">
        <br> Points Per Objective:
        <input type="number" name="Points" (ngModel)="gameMode.scoreValue">
        <br> Respawn Time:
        <input type="number" name="Respawn" (ngModel)="gameMode.deathTimer"> Seconds
        <br> Number of Teams:
        <input type="number" name="Teams" min="2" max="4">
    </mat-card>
    <div class="SetTeams">
        Click on the player to set which team they are on.
        <div style="display:flex; flex-wrap: wrap; width: 100%; justify-content: space-evenly;">
            <div *ngFor="let player of eligiblePlayers">
                <mat-card class="" (click)="SetPlayersTeam(player)" [ngClass]="TeamColor(player.team)">
                    <div>
                        {{player.name}}
                    </div>
                    <div>
                        {{player.image}}
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <button (click)="StartGame()">
        Start Game
    </button>
</div>
<game-dashboard [allTeams]="teams" *ngIf="!GamePreparation()"></game-dashboard>