<div class="content">
  <mat-card class="orange-card">
    <mat-card class="team-card" *ngFor="let player of players">
      <p>Name: {{player.name}}</p>
      <p>{{player.image}}</p>
      <p>Points: {{player.points}}</p>
      <p>Respawn Timer: {{player.respawn}}</p>
    </mat-card>
  </mat-card>

  <mat-divider></mat-divider>
  <mat-divider></mat-divider>

  <mat-card class="purple-card">
    <mat-card class="team-card" *ngFor="let player of players">
      <p>Name: {{player.name}}</p>
      <p>{{player.image}}</p>
      <p>Points: {{player.points}}</p>
      <p>Respawn Timer: {{player.respawn}}</p>
    </mat-card>
  </mat-card>
</div>
