.ribbon{
    background: var(--viz-orange);
    height: var(--ribbonHeight);
    padding: 5px;
}

.ribbon span {
    margin: 0px 10px;
}

.pageContents {
    height: calc(98% - var(--ribbonHeight));
}